<!--Users page-->
<div class="page page-table">

    <div class="row ui-section">
        <div class="col-lg-8 clearfix">
            <h2 class="section-header">Список пользователей</h2>
        </div>
        <div class="col-md-12">
            <section class="panel panel-default table-dynamic">
                <div class="table-filters">
                    <div class="row">
                        <div class="col-sm-4 col-xs-6">
                            <form>
                                <input type="text"
                                       placeholder="Search..."
                                       class="form-control"
                                       data-ng-model="searchKeywords"
                                       data-ng-keyup="search()">
                            </form>
                        </div>
                        <div class="col-sm-3 col-xs-6 filter-result-info">
                <span>
                Showing {{filteredStores.length}}/{{stores.length}} entries
                </span>
                        </div>
                    </div>
                </div>

                <div class="table-wrapper">
                    <table class="table table-bordered table-striped table-responsive">
                        <thead>
                        <tr>
                            <th>
                                <div class="th">
                                    ID
                                </div>
                            </th>
                            <th>
                                <div class="th">
                                    Компания
                                </div>
                            </th>
                            <th>
                                <div class="th">
                                    Категория
                                </div>
                            </th>
                            <th>
                                <div class="th">
                                    Контактное лицо
                                </div>
                            </th>
                            <th>
                                <div class="th">
                                    Телефон
                                </div>
                            </th>
                            <th>
                                <div class="th">
                                    Email
                                </div>
                            </th>
                            <th>
                                <div class="th">
                                    Роль
                                </div>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr data-ng-repeat="user in users.list.Result">
                            <td>{{user.id}}</td>
                            <td>{{user.company}}</td>
                            <td>{{user.category}}</td>
                            <td>{{user.name}}</td>
                            <td>{{user.phone}}</td>
                            <td>{{user.email}}</td>
                            <td>
                                <i class="zmdi zmdi-account-box constell-table-icon"
                                    tooltip-placement="top"
                                    tooltip-append-to-body="true"
                                    uib-tooltip="{{user.role}}"
                                    ng-class="{
                                        'c-user-style': user.roleId == 'user',
                                        'c-regular-style': user.roleId == 'regular'
                                    }"></i>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <footer class="table-footer">
                    <div class="row">
                        <div class="col-md-6 page-num-info">
                <span>
                Show
                <select data-ng-model="numPerPage"
                        data-ng-options="num for num in numPerPageOpt"
                        data-ng-change="onNumPerPageChange()">
                </select>
                entries per page
                </span>
                        </div>
                        <div class="col-md-6 text-right pagination-container">
                            <uib-pagination class="pagination-sm"
                                            ng-model="currentPage"
                                            total-items="filteredStores.length"
                                            max-size="4"
                                            ng-change="select(currentPage)"
                                            items-per-page="numPerPage"
                                            rotate="false"
                                            previous-text="Назад" next-text="Далее"
                                            boundary-links="true"></uib-pagination>
                        </div>
                    </div>
                </footer>
            </section>
        </div>
    </div>

</div>
