<!--Users page-->
<div class="page page-table">

    <div class="row ui-section">
        <div class="col-lg-8 clearfix">
            <h2 class="section-header">Список контрагентов</h2>
        </div>
        <div class="col-md-12">
            <section class="panel panel-default table-dynamic">
                <div class="table-filters">
                    <div class="row">
                        <div class="col-sm-4 col-xs-6">
                            <form ng-submit="users.search()" class="search-form">
                                <input type="text"
                                       placeholder="Найти..."
                                       class="form-control"
                                       data-ng-model="users.userCnfg.Search"
                                       ng-change="users.searchWasChanged()"
                                       ng-blur="users.search()">
                                <div ng-click="users.clearSearch()" class="clear-search"><i class="zmdi zmdi-close"></i></div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="table-wrapper">
                    <table class="table table-bordered table-striped table-responsive">
                        <thead>
                        <tr>
                            <th>
                                <div class="th" ng-click="users.orderList('id')">
                                    <span class="table-order-wrapper">
                                        ID
                                        <i ng-if="users.userCnfg.OrderByInfo.target == 'id'"
                                           class="zmdi zmdi-caret-down"
                                           ng-class="{'zmdi-caret-down' : users.userCnfg.OrderByInfo.course == 'desc',
                                                      'zmdi-caret-up' : users.userCnfg.OrderByInfo.course == 'asc'}"></i>
                                    </span>
                                </div>
                            </th>
                            <th>
                                <div class="th" ng-click="users.orderList('company')">
                                    <span class="table-order-wrapper">
                                        Компания
                                        <i ng-if="users.userCnfg.OrderByInfo.target == 'company'"
                                           class="zmdi zmdi-caret-down"
                                           ng-class="{'zmdi-caret-down' : users.userCnfg.OrderByInfo.course == 'desc',
                                                      'zmdi-caret-up' : users.userCnfg.OrderByInfo.course == 'asc'}"></i>
                                    </span>
                                </div>
                            </th>
                            <th>
                                <div class="th" ng-click="users.orderList('category')">
                                    <span class="table-order-wrapper">
                                        Категория
                                        <i ng-if="users.userCnfg.OrderByInfo.target == 'category'"
                                           class="zmdi zmdi-caret-down"
                                           ng-class="{'zmdi-caret-down' : users.userCnfg.OrderByInfo.course == 'desc',
                                                      'zmdi-caret-up' : users.userCnfg.OrderByInfo.course == 'asc'}"></i>
                                    </span>
                                </div>
                            </th>
                            <th>
                                <div class="th" ng-click="users.orderList('name')">
                                    <span class="table-order-wrapper">
                                        Контактное лицо
                                        <i ng-if="users.userCnfg.OrderByInfo.target == 'name'"
                                           class="zmdi zmdi-caret-down"
                                           ng-class="{'zmdi-caret-down' : users.userCnfg.OrderByInfo.course == 'desc',
                                                      'zmdi-caret-up' : users.userCnfg.OrderByInfo.course == 'asc'}"></i>
                                    </span>
                                </div>
                            </th>
                            <th>
                                <div class="th" ng-click="users.orderList('phone')">
                                    <span class="table-order-wrapper">
                                        Телефон
                                        <i ng-if="users.userCnfg.OrderByInfo.target == 'phone'"
                                           class="zmdi zmdi-caret-down"
                                           ng-class="{'zmdi-caret-down' : users.userCnfg.OrderByInfo.course == 'desc',
                                                      'zmdi-caret-up' : users.userCnfg.OrderByInfo.course == 'asc'}"></i>
                                    </span>
                                </div>
                            </th>
                            <th>
                                <div class="th" ng-click="users.orderList('email')">
                                    <span class="table-order-wrapper">
                                        Email
                                        <i ng-if="users.userCnfg.OrderByInfo.target == 'email'"
                                           class="zmdi zmdi-caret-down"
                                           ng-class="{'zmdi-caret-down' : users.userCnfg.OrderByInfo.course == 'desc',
                                                      'zmdi-caret-up' : users.userCnfg.OrderByInfo.course == 'asc'}"></i>
                                    </span>
                                </div>
                            </th>
                            <th>
                                <div class="th" ng-click="users.orderList('roleId')">
                                    <span class="table-order-wrapper">
                                        Заключен договор?
                                        <i ng-if="users.userCnfg.OrderByInfo.target == 'roleId'"
                                           class="zmdi zmdi-caret-down"
                                           ng-class="{'zmdi-caret-down' : users.userCnfg.OrderByInfo.course == 'desc',
                                                      'zmdi-caret-up' : users.userCnfg.OrderByInfo.course == 'asc'}"></i>
                                    </span>
                                </div>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr data-ng-repeat="user in users.list.Result">
                            <td>{{user.id}}</td>
                            <td>{{user.company}}</td>
                            <td>{{user.category}}</td>
                            <td>{{user.name}}</td>
                            <td>{{user.phone}}</td>
                            <td>{{user.email}}</td>
                            <td>
                                <i class="zmdi zmdi-account-box constell-table-icon"
                                   tooltip-placement="top"
                                   tooltip-append-to-body="true"
                                   uib-tooltip="{{user.role}}"
                                   ng-class="{
                                        'c-user-style': user.roleId == 'user',
                                        'c-regular-style': user.roleId == 'regular'
                                    }"></i>
                            </td>
                        </tr>
                        <tr ng-if="users.preloader">
                            <td colspan="7">
                                <div class="constell-loader cl-block"></div>
                            </td>
                        </tr>
                        <tr ng-if="users.list.Result.length == 0">
                            <td colspan="7">
                                Пользователей не найдено
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <footer class="table-footer">
                    <div class="row">
                        <div class="col-md-6 page-num-info">
                <span>
                </span>
                        </div>
                        <div class="col-md-6 text-right pagination-container">
                            <uib-pagination class="pagination-sm"
                                            ng-model="currentPage"
                                            total-items="filteredStores.length"
                                            max-size="4"
                                            ng-change="select(currentPage)"
                                            items-per-page="numPerPage"
                                            rotate="false"
                                            previous-text="Назад" next-text="Далее"
                                            boundary-links="false"></uib-pagination>
                        </div>
                    </div>
                </footer>
            </section>
        </div>
    </div>

</div>
