<div class="constell-block-title mt-mini">Выберите категорию</div>
<!--Category list-->
<div class="form-group">
    <label for="" class="col-sm-12">Категория <span class="req-star"></span></label>
    <md-select ng-model="tender.positionCnfg.categoryId" required="" data-ng-change="tender.getPositions()" placeholder="Выбрать">
        <md-option ng-repeat="category in tender.categoryList.Result" value="{{category.id}}">
            {{category.title}}
        </md-option>
    </md-select>
</div>

<div ng-if="tender.positionCnfg.categoryId != null" class="form-group">
    <label for="" class="col-sm-12">Позиции</label>
    <div class="col-sm-12 subheader-block">
        <md-list>
            <div ng-if="!tender.positionsPreloader" class="md-list-container">
                <md-list-item ng-repeat="position in tender.positionsList.Result">
                    <p> {{ position.title }} </p>
                    <md-checkbox class="md-secondary"
                                 ng-change="tender.setPosition(position.id, position.title, position.unit, position.currency)"
                                 ng-true-value="{{position.id}}"
                                 ng-model="position.selected"></md-checkbox>
                </md-list-item>
                <p class="text-center" ng-if="tender.positionsList.Result.length == 0">Позиции отсутствуют</p>
            </div>
            <div ng-if="tender.positionsPreloader">
                <div class="constell-loader cl-block"></div>
            </div>
        </md-list>
    </div>
</div>

<!--Steps nav-->
<div class="steps-nav clearfix">
    <span class="form-error-message" ng-if="tender.positionCnfg.categoryId == null">Не выбрана категория!</span>

    <span class="btn btn-primary"
       ng-click="tender.goToStep('second')"
       ng-disabled="tender.positionCnfg.categoryId == null">Далее
    </span>
</div>
