<div class="constell-block-title mt-mini">Информация о тендере</div>

<!--Tender name-->
<div class="form-group">
    <label for="" class="col-sm-12">Название тендера</label>
    <div class="col-sm-12">
        <input ng-model="tender.addTenderModel.Title" type="text" class="form-control">
    </div>
</div>

<!--Tender date-->
<div class="form-group">
    <div class="col-md-6 col-sm-12">
        <div class="row">
            <label for="" class="col-sm-12">Дата начала</label>
        </div>
        <div class="input-group ui-datepicker">
            <input type="text"
                   class="form-control"
                   uib-datepicker-popup="{{format}}"
                   ng-model="tender.addTenderModel.StartDate"
                   is-open="tender.status.startDate"
                   min-date="minDate"
                   max-date="maxDate"
                   datepicker-options="dateOptions"
                   date-disabled="disabled(date, mode)"
                   ng-required="true"
                   close-text="Close"/>
            <span class="input-group-addon" ng-click="tender.open('startDate')"><i class="fa fa-calendar"></i></span>
        </div>
    </div>
    <div class="col-md-6 col-sm-12">
        <div class="row">
            <label for="" class="col-sm-12">Дата завершения</label>
        </div>
        <div class="input-group ui-datepicker">
            <input type="text"
                   class="form-control"
                   uib-datepicker-popup="{{format}}"
                   ng-model="tender.addTenderModel.EndDate"
                   is-open="tender.status.endDate"
                   min-date="minDate"
                   max-date="maxDate"
                   datepicker-options="dateOptions"
                   date-disabled="disabled(date, mode)"
                   ng-required="true"
                   close-text="Close"/>
            <span class="input-group-addon" ng-click="tender.open('endDate')"><i class="fa fa-calendar"></i></span>
        </div>
    </div>
</div>

<!--Tender switches-->
<div class="form-group">
    <div class="col-sm-12">
        <div class="row switch-row">
            <label for="" class="col-sm-3">Открытый тендер</label>
            <div class="col-sm-3">
                <md-switch ng-model="tender.addTenderModel.IsOpenTender" class="md-primary"></md-switch>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="row switch-row">
            <label for="" class="col-sm-3">Активный тендер</label>
            <div class="col-sm-3">
                <md-switch ng-model="tender.addTenderModel.IsActive" class="md-primary"></md-switch>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="row switch-row">
            <label for="" class="col-sm-3">Только для постоянных поставщиков</label>
            <div class="col-sm-3">
                <md-switch ng-model="tender.addTenderModel.ForCertificed" class="md-primary"></md-switch>
            </div>
        </div>
    </div>
</div>

<div ng-if="tender.addTenderModel.PositionList.length != 0 &&
            tender.addTenderModel.PositionList.length != null" class="constell-block-title mt-mini">Позиции</div>
<!--Positions table-->
<div ng-if="tender.addTenderModel.PositionList.length != 0 &&
            tender.addTenderModel.PositionList.length != null" class="form-group">
    <div class="table-wrapper table-main-p">
        <table class="table table-bordered table-striped table-responsive">
            <thead>
            <tr>
                <th>
                    <div class="th">
                        Название
                    </div>
                </th>
                <th>
                    <div class="th">
                        Объем
                    </div>
                </th>
                <th>
                    <div class="th">
                        Мин. цена
                    </div>
                </th>
            </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="position in tender.addTenderModel.PositionList">
                    <td class="left-align">{{position.title}}</td>
                    <td>
                        <div class="table-inner-input">
                            <input class="form-control" ng-model="position.amount" type="text">
                            <span class="constell-unit">{{position.unit.name}}</span>
                        </div>
                    </td>
                    <td>
                        <div class="table-inner-input">
                            <input class="form-control" ng-model="position.minPrice" type="text">
                            <span class="constell-unit">{{position.currency.name}}</span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!--Steps nav-->
<div class="steps-nav clearfix">
        <span ng-if="tender.addCampSecondStep.$invalid" ui-wave tooltip-placement="left"
              uib-tooltip="Не все поля заполнены"
              tooltip-append-to-body="true"
              class="form-required"><i class="zmdi zmdi-alert-circle-o"></i></span>
    <a class="btn btn-primary"
       ng-click="tender.goToStep('first')">Назад
    </a>
    <a class="btn btn-primary"
       ng-class="{'disabled' : tender.addCampSecondStep.$invalid}"
       ng-click="tender.addTender()">Завершить
    </a>
</div>
