<!--Tenders page-->
<div class="page page-table">

    <div class="row ui-section">

        <div class="col-lg-8 clearfix">
            <h2 class="section-header">
                Список тендеров
                <a ui-sref="tenderAdd" class="btn btn-primary">Добавить тендер</a>
            </h2>
        </div>
        <div class="col-md-12">
            <section class="panel panel-default table-dynamic">

                <!--Tenders Stats-->
                <section class="constell-block">
                    <div class="constell-graph-area">
                        <div class="constell-block-title mt-mini">Статистика</div>
                        <div data-echarts data-options="tenders.combo.options" style="height: 360px;"></div>
                    </div>
                </section>


                <div class="constell-block-title mt-mini">Тендеры</div>

                <div class="table-filters constell-table-filters">
                    <div class="row">
                        <div class="col-sm-4 col-xs-6">
                            <form ng-submit="tenders.search()" class="search-form">
                                <input type="text"
                                       placeholder="Найти..."
                                       class="form-control"
                                       data-ng-model="tenders.tenderCnfg.Search"
                                       ng-change="tenders.searchWasChanged()"
                                       ng-blur="tenders.search()">
                                <div ng-click="tenders.clearSearch()" class="clear-search"><i
                                    class="zmdi zmdi-close"></i></div>
                            </form>
                        </div>
                        <div class="col-sm-8 col-xs-6 filter-result-info">
                            <a ui-sref="tenderAdd" class="btn btn-primary btn-filter-action"><i
                                class="zmdi zmdi-plus"></i>Добавить</a>
                        </div>
                    </div>
                </div>

                <div class="table-wrapper">
                    <table class="table table-bordered table-striped table-responsive">
                        <thead>
                        <tr>
                            <th>
                                <div class="th" ng-click="tenders.orderList('id')">
                                    <span class="table-order-wrapper">
                                        ID
                                        <i ng-if="tenders.tenderCnfg.OrderByInfo.target == 'id'"
                                           class="zmdi zmdi-caret-down"
                                           ng-class="{'zmdi-caret-down' : tenders.tenderCnfg.OrderByInfo.course == 'desc',
                                                      'zmdi-caret-up' : tenders.tenderCnfg.OrderByInfo.course == 'asc'}"></i>
                                    </span>
                                </div>
                            </th>
                            <th>
                                <div class="th" ng-click="tenders.orderList('title')">
                                    <span class="table-order-wrapper">
                                        Название
                                        <i ng-if="tenders.tenderCnfg.OrderByInfo.target == 'title'"
                                           class="zmdi zmdi-caret-down"
                                           ng-class="{'zmdi-caret-down' : tenders.tenderCnfg.OrderByInfo.course == 'desc',
                                                      'zmdi-caret-up' : tenders.tenderCnfg.OrderByInfo.course == 'asc'}"></i>
                                    </span>
                                </div>
                            </th>
                            <th>
                                <div class="th" ng-click="tenders.orderList('categoryId')">
                                    <span class="table-order-wrapper">
                                        Категория
                                        <i ng-if="tenders.tenderCnfg.OrderByInfo.target == 'categoryId'"
                                           class="zmdi zmdi-caret-down"
                                           ng-class="{'zmdi-caret-down' : tenders.tenderCnfg.OrderByInfo.course == 'desc',
                                                      'zmdi-caret-up' : tenders.tenderCnfg.OrderByInfo.course == 'asc'}"></i>
                                    </span>
                                </div>
                            </th>
                            <th>
                                <div class="th" ng-click="tenders.orderList('startTime')">
                                    <span class="table-order-wrapper">
                                        Начало
                                        <i ng-if="tenders.tenderCnfg.OrderByInfo.target == 'startTime'"
                                           class="zmdi zmdi-caret-down"
                                           ng-class="{'zmdi-caret-down' : tenders.tenderCnfg.OrderByInfo.course == 'desc',
                                                      'zmdi-caret-up' : tenders.tenderCnfg.OrderByInfo.course == 'asc'}"></i>
                                    </span>
                                </div>
                            </th>
                            <th>
                                <div class="th" ng-click="tenders.orderList('endTime')">
                                    <span class="table-order-wrapper">
                                        Завершение
                                        <i ng-if="tenders.tenderCnfg.OrderByInfo.target == 'endTime'"
                                           class="zmdi zmdi-caret-down"
                                           ng-class="{'zmdi-caret-down' : tenders.tenderCnfg.OrderByInfo.course == 'desc',
                                                      'zmdi-caret-up' : tenders.tenderCnfg.OrderByInfo.course == 'asc'}"></i>
                                    </span>
                                </div>
                            </th>
                            <th>
                                <div class="th" ng-click="tenders.orderList('amount')">
                                    <span class="table-order-wrapper">
                                        Объем
                                        <i ng-if="tenders.tenderCnfg.OrderByInfo.target == 'amount'"
                                           class="zmdi zmdi-caret-down"
                                           ng-class="{'zmdi-caret-down' : tenders.tenderCnfg.OrderByInfo.course == 'desc',
                                                      'zmdi-caret-up' : tenders.tenderCnfg.OrderByInfo.course == 'asc'}"></i>
                                    </span>
                                </div>
                            </th>
                            <th>
                                <div class="th" ng-click="tenders.orderList('isOpenTender')">
                                    <span class="table-order-wrapper">
                                        Открытый
                                        <i ng-if="tenders.tenderCnfg.OrderByInfo.target == 'isOpenTender'"
                                           class="zmdi zmdi-caret-down"
                                           ng-class="{'zmdi-caret-down' : tenders.tenderCnfg.OrderByInfo.course == 'desc',
                                                      'zmdi-caret-up' : tenders.tenderCnfg.OrderByInfo.course == 'asc'}"></i>
                                    </span>
                                </div>
                            </th>
                            <th>
                                <div class="th">
                                    Опции
                                </div>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr data-ng-repeat="tender in tenders.list.Result">
                            <td>{{tender.id}}</td>
                            <td class="left-align text-link"><a href="#/tenders/{{tender.id}}">{{tender.title}}</a></td>
                            <td>{{tender.category}}</td>
                            <td>{{tender.startTime}}</td>
                            <td>{{tender.endTime}}</td>
                            <td>
                                <span ng-if="tender.amount != null">{{tender.amount}}</span>
                                <span ng-if="tender.amount == null">0</span>
                                {{tender.unit}}
                            </td>
                            <td>
                                <md-checkbox ng-model="tender.isOpenTender" data-ng-disabled="true"> {{ checkbox.cb1
                                    }}
                                </md-checkbox>
                            </td>
                            <td>
                                <div class="btn-group" uib-dropdown is-open="status.isopen1">
                                    <button ui-wave type="button"
                                            class="btn btn-primary dropdown-toggle"
                                            uib-dropdown-toggle> Опции <span
                                        class="caret"></span></button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#/tenders/edit/{{tender.id}}">Редактировать</a></li>
                                        <li class="divider"></li>
                                        <li><span ng-click="tenders.showConfirm($event, tender.id, tender.title)">Удалить</span></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr ng-if="tenders.preloader">
                            <td colspan="8">
                                <div class="constell-loader cl-block"></div>
                            </td>
                        </tr>
                        <tr ng-if="tenders.list.Result.length == 0">
                            <td colspan="8">
                                Тендеры не найдены
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <footer class="table-footer">
                    <div class="row">
                        <div class="col-md-6 page-num-info">
                            <span>
                                Всего элементов: {{tenders.tenderCnfg.totalCount}}
                            </span>
                        </div>
                        <div class="col-md-6 text-right pagination-container">
                            <uib-pagination class="pagination-sm"
                                            ng-model="tenders.tenderCnfg.Page"
                                            total-items="tenders.tenderCnfg.totalCount"
                                            max-size="4"
                                            ng-change="tenders.getTenders()"
                                            items-per-page="tenders.tenderCnfg.PerPage"
                                            rotate="false"
                                            previous-text="Назад" next-text="Далее"
                                            boundary-links="false"></uib-pagination>
                        </div>
                    </div>
                </footer>
            </section>
        </div>
    </div>

</div>
