<!--Users page-->
<div class="page page-table">

    <div class="row ui-section">
        <div class="col-lg-12 clearfix">
            <h2 class="section-header">
                {{tender.info.title}}
                <a href="#/tenders/edit/{{tender.info.id}}" class="btn btn-primary">Редактировать</a>
                <a ui-sref="tenders" class="btn btn-primary">К списку тендеров</a>
            </h2>
        </div>
        <div class="col-md-12">
            <section class="panel panel-default table-dynamic">

                <div class="constell-block-title mt-mini">Последние предложения</div>

                <div class="tender-best-offers-wrapper clearfix">
                    <!--Best offers table-->
                    <div class="best-offers-table-wrapper">
                        <div class="table-wrapper">
                            <table class="table table-bordered table-striped table-responsive">
                                <thead>
                                <tr>
                                    <th>
                                        <div class="th disabled-th">
                                            Позиция
                                        </div>
                                    </th>
                                    <th>
                                        <div class="th disabled-th">
                                            Объем
                                        </div>
                                    </th>
                                    <th ng-repeat="offerTitle in tender.offers.headerList">
                                        <div class="th">
                                            {{offerTitle}}
                                        </div>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr data-ng-repeat="offer in tender.offers.positions">
                                    <td>{{offer.positionTitle}}</td>
                                    <td>{{offer.positionAmount}}</td>
                                    <td ng-repeat="offerValue in offer.positionPriceList">
                                        <span ng-if="offerValue != null">{{offerValue}}</span>
                                        <span ng-if="offerValue == null">-</span>
                                    </td>
                                </tr>
                                <tr ng-if="tender.offersPreloader">
                                    <td colspan="2">
                                        <div class="constell-loader cl-block"></div>
                                    </td>
                                </tr>
                                <tr ng-if="tender.offers.positions.length == 0">
                                    <td colspan="2">
                                        Последние предложения отсутствуют
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <!--Main inforamtion-->
                    <div class="col-md-12 constell-panel-info">
                        <div class="panel panel-default panel-labeled constell-panel-list">
                            <div class="panel-body">
                                <span class="panel-label">Информация</span>
                                <ul class="list-group no-margin">
                                    <li class="list-group-item">{{tender.info.title}}</li>
                                    <li class="list-group-item"><b>Категория: </b>{{tender.info.category}}</li>
                                    <li class="list-group-item">
                                        <b>Минимальное предложение: </b>
                                        <span ng-if="tender.info.minPrice == null">отсутствует</span>
                                        <span ng-if="tender.info.minPrice != null">{{tender.info.minPrice}} руб.</span>

                                    </li>
                                    <li class="list-group-item">
                                        <b>Статус тендера: </b>
                                        <span ng-if="tender.info.isOpenTender">открыт</span>
                                        <span ng-if="!tender.info.isOpenTender">закрыт</span>
                                    </li>
                                    <li class="list-group-item" ng-if="tender.info.isOpenTender">
                                        <b>Дата начала: </b> {{tender.info.startTime}}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="constell-graph-area">
                    <div class="constell-block-title mt-mini">Все предложения</div>

                    <div data-echarts data-options="tender.combo.options" style="height: 360px;"></div>
                </div>

                <div class="table-filters">
                    <div class="row">
                        <div class="col-sm-4 col-xs-6">
                            <form ng-submit="tender.search()" class="search-form">
                                <input type="text"
                                       placeholder="Найти..."
                                       class="form-control"
                                       data-ng-model="tender.tenderOffCnfg.Search"
                                       ng-change="tender.searchWasChanged()"
                                       ng-blur="tender.search()">
                                <div ng-click="tender.clearSearch()" class="clear-search"><i
                                    class="zmdi zmdi-close"></i></div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="table-wrapper">
                    <table class="table table-bordered table-responsive">
                        <thead>
                        <tr>
                            <th>
                                <div class="th">
                                    <i class="zmdi zmdi-more-vert"></i>
                                </div>
                            </th>
                            <th>
                                <div class="th" ng-click="tender.orderList('id')">
                                    <span class="table-order-wrapper">
                                        ID
                                        <i ng-if="tender.tenderOffCnfg.OrderByInfo.target == 'id'"
                                           class="zmdi zmdi-caret-down"
                                           ng-class="{'zmdi-caret-down' : tender.tenderOffCnfg.OrderByInfo.course == 'desc',
                                                      'zmdi-caret-up' : tender.tenderOffCnfg.OrderByInfo.course == 'asc'}"></i>
                                    </span>
                                </div>
                            </th>
                            <th>
                                <div class="th" ng-click="tender.orderList('userName')">
                                    <span class="table-order-wrapper">
                                        Имя
                                        <i ng-if="tender.tenderOffCnfg.OrderByInfo.target == 'userName'"
                                           class="zmdi zmdi-caret-down"
                                           ng-class="{'zmdi-caret-down' : tender.tenderOffCnfg.OrderByInfo.course == 'desc',
                                                      'zmdi-caret-up' : tender.tenderOffCnfg.OrderByInfo.course == 'asc'}"></i>
                                    </span>
                                </div>
                            </th>
                            <th>
                                <div class="th" ng-click="tender.orderList('price')">
                                    <span class="table-order-wrapper">
                                        Цена (руб)
                                        <i ng-if="tender.tenderOffCnfg.OrderByInfo.target == 'price'"
                                           class="zmdi zmdi-caret-down"
                                           ng-class="{'zmdi-caret-down' : tender.tenderOffCnfg.OrderByInfo.course == 'desc',
                                                      'zmdi-caret-up' : tender.tenderOffCnfg.OrderByInfo.course == 'asc'}"></i>
                                    </span>
                                </div>
                            </th>
                            <th>
                                <div class="th" ng-click="tender.orderList('dateStr')">
                                    <span class="table-order-wrapper">
                                        Дата
                                        <i ng-if="tender.tenderOffCnfg.OrderByInfo.target == 'dateStr'"
                                           class="zmdi zmdi-caret-down"
                                           ng-class="{'zmdi-caret-down' : tender.tenderOffCnfg.OrderByInfo.course == 'desc',
                                                      'zmdi-caret-up' : tender.tenderOffCnfg.OrderByInfo.course == 'asc'}"></i>
                                    </span>
                                </div>
                            </th>
                            <th>
                                <div class="th" ng-click="tender.orderList('comments')">
                                    <span class="table-order-wrapper">
                                        Комментарии
                                        <i ng-if="tender.tenderOffCnfg.OrderByInfo.target == 'comments'"
                                           class="zmdi zmdi-caret-down"
                                           ng-class="{'zmdi-caret-down' : tender.tenderOffCnfg.OrderByInfo.course == 'desc',
                                                      'zmdi-caret-up' : tender.tenderOffCnfg.OrderByInfo.course == 'asc'}"></i>
                                    </span>
                                </div>
                            </th>
                            <th>
                                <div class="th" ng-click="tender.orderList('isCertified')">
                                    <span class="table-order-wrapper">
                                        Проверенный
                                        <i ng-if="tender.tenderOffCnfg.OrderByInfo.target == 'isCertified'"
                                           class="zmdi zmdi-caret-down"
                                           ng-class="{'zmdi-caret-down' : tender.tenderOffCnfg.OrderByInfo.course == 'desc',
                                                      'zmdi-caret-up' : tender.tenderOffCnfg.OrderByInfo.course == 'asc'}"></i>
                                    </span>
                                </div>
                            </th>
                        </tr>
                        </thead>
                        <tbody offer-group data-ng-repeat="offer in tender.infoOffers.Result">
                        <tr ng-click="open()" class="constell-open-row" ng-class="{'active' : opened}">
                            <td class="constell-open-icon">
                                <i ng-if="!opened" class="zmdi zmdi-caret-right"></i>
                                <i ng-if="opened" class="zmdi zmdi-caret-down"></i>
                            </td>
                            <td>{{offer.id}}</td>
                            <td>{{offer.userName}}</td>
                            <td>{{offer.price}}</td>
                            <td>{{offer.dateStr}}</td>
                            <td>{{offer.comments}}</td>
                            <td>
                                <md-checkbox ng-model="offer.isCertified" data-ng-disabled="true"> {{ checkbox.cb1 }}
                                </md-checkbox>
                            </td>
                        </tr>
                        <tr ng-if="opened" class="constell-group-row">
                            <td colspan="7" class="constell-group-row-inner">
                                <table class="table table-bordered table-striped table-responsive">
                                    <thead>
                                    <tr>
                                        <th>
                                            <div class="th">
                                                ID
                                            </div>
                                        </th>
                                        <th>
                                            <div class="th">
                                                Позиция
                                            </div>
                                        </th>
                                        <th>
                                            <div class="th">
                                                Цена (руб)
                                            </div>
                                        </th>
                                        <th>
                                            <div class="th">
                                                Объем
                                            </div>
                                        </th>
                                        <th>
                                            <div class="th">
                                                Дата
                                            </div>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="children in offer.childrens">
                                        <td>{{children.id}}</td>
                                        <td>{{children.positionTitle}}</td>
                                        <td>{{children.price}}</td>
                                        <td>{{children.amount}} {{children.unit}}</td>
                                        <td>{{children.dateStr}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr ng-if="tender.preloaderOffers">
                            <td colspan="7">
                                <div class="constell-loader cl-block"></div>
                            </td>
                        </tr>
                        <tr ng-if="tender.infoOffers.Result.length == 0">
                            <td colspan="7">
                                Предложений нет
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <footer class="table-footer">
                    <div class="row">
                        <div class="col-md-6 page-num-info">
                        </div>
                        <div class="col-md-6 text-right pagination-container">
                            <uib-pagination class="pagination-sm"
                                            ng-model="tender.tenderOffCnfg.Page"
                                            total-items="tender.tenderOffCnfg.totalCount"
                                            max-size="4"
                                            ng-change="tender.getTenderOffers()"
                                            items-per-page="tender.tenderOffCnfg.PerPage"
                                            rotate="false"
                                            previous-text="Назад" next-text="Далее"
                                            boundary-links="false"></uib-pagination>
                        </div>
                    </div>
                </footer>
            </section>
        </div>
    </div>

</div>
