<!--Tenders page-->
<div class="page page-table">

    <div class="row ui-section">

        <div class="col-lg-8 clearfix">
            <h2 class="section-header">
                Список Позиций
                <a ui-sref="positionAdd" class="btn btn-primary">Добавить позицию</a>
            </h2>
        </div>
        <div class="col-md-12">
            <section class="panel panel-default table-dynamic">

                <div class="constell-block-title mt-mini">Позиции</div>

                <div class="table-filters constell-table-filters">
                    <div class="row">
                        <div class="col-sm-4 col-xs-6">
                            <form ng-submit="positions.search()" class="search-form">
                                <input type="text"
                                       placeholder="Найти..."
                                       class="form-control"
                                       ng-model="positions.positionCnfg.Search"
                                       ng-change="positions.searchWasChanged()"
                                       ng-blur="positions.search()">
                                <div ng-click="positions.clearSearch()" class="clear-search"><i class="zmdi zmdi-close"></i></div>
                            </form>
                        </div>
                        <div class="col-sm-8 col-xs-6 filter-result-info">
                            <md-select class="select-btn" ng-model="positions.positionCnfg.categoryId"
                                       placeholder="Категория" data-ng-change="positions.getPositions()">
                                <md-option value="">Все</md-option>
                                <md-option ng-repeat="category in positions.categories.Result"
                                           value="{{category.id}}">
                                    {{category.title}}
                                </md-option>
                            </md-select>
                        </div>
                    </div>
                </div>


                <div class="table-wrapper">
                    <table class="table table-bordered table-striped table-responsive">
                        <thead>
                        <tr>
                            <th>
                                <div class="th" ng-click="positions.orderList('id')">
                                    <span class="table-order-wrapper">
                                        ID
                                        <i ng-if="positions.positionCnfg.OrderByInfo.target == 'id'"
                                           class="zmdi zmdi-caret-down"
                                           ng-class="{'zmdi-caret-down' : positions.positionCnfg.OrderByInfo.course == 'desc',
                                                      'zmdi-caret-up' : positions.positionCnfg.OrderByInfo.course == 'asc'}"></i>
                                    </span>
                                </div>
                            </th>
                            <th>
                                <div class="th" ng-click="positions.orderList('title')">
                                    <span class="table-order-wrapper">
                                        Название
                                        <i ng-if="positions.positionCnfg.OrderByInfo.target == 'title'"
                                           class="zmdi zmdi-caret-down"
                                           ng-class="{'zmdi-caret-down' : positions.positionCnfg.OrderByInfo.course == 'desc',
                                                      'zmdi-caret-up' : positions.positionCnfg.OrderByInfo.course == 'asc'}"></i>
                                    </span>
                                </div>
                            </th>
                            <th>
                                <div class="th" ng-click="positions.orderList('category')">
                                    <span class="table-order-wrapper">
                                        Категория
                                        <i ng-if="positions.positionCnfg.OrderByInfo.target == 'category'"
                                           class="zmdi zmdi-caret-down"
                                           ng-class="{'zmdi-caret-down' : positions.positionCnfg.OrderByInfo.course == 'desc',
                                                      'zmdi-caret-up' : positions.positionCnfg.OrderByInfo.course == 'asc'}"></i>
                                    </span>
                                </div>
                            </th>
                            <th>
                                <div class="th" ng-click="positions.orderList('materialPlace')">
                                    <span class="table-order-wrapper">
                                        Место поставки
                                        <i ng-if="positions.positionCnfg.OrderByInfo.target == 'materialPlace'"
                                           class="zmdi zmdi-caret-down"
                                           ng-class="{'zmdi-caret-down' : positions.positionCnfg.OrderByInfo.course == 'desc',
                                                      'zmdi-caret-up' : positions.positionCnfg.OrderByInfo.course == 'asc'}"></i>
                                    </span>
                                </div>
                            </th>
                            <th>
                                <div class="th" ng-click="positions.orderList('materialConditions')">
                                    <span class="table-order-wrapper">
                                        Условия поставки
                                        <i ng-if="positions.positionCnfg.OrderByInfo.target == 'materialConditions'"
                                           class="zmdi zmdi-caret-down"
                                           ng-class="{'zmdi-caret-down' : positions.positionCnfg.OrderByInfo.course == 'desc',
                                                      'zmdi-caret-up' : positions.positionCnfg.OrderByInfo.course == 'asc'}"></i>
                                    </span>
                                </div>
                            </th>
                            <th>
                                <div class="th" ng-click="positions.orderList('materialTerms')">
                                    <span class="table-order-wrapper">
                                        Сроки поставки
                                        <i ng-if="positions.positionCnfg.OrderByInfo.target == 'materialTerms'"
                                           class="zmdi zmdi-caret-down"
                                           ng-class="{'zmdi-caret-down' : positions.positionCnfg.OrderByInfo.course == 'desc',
                                                      'zmdi-caret-up' : positions.positionCnfg.OrderByInfo.course == 'asc'}"></i>
                                    </span>
                                </div>
                            </th>
                            <th>
                                <div class="th" ng-click="positions.orderList('currency')">
                                    <span class="table-order-wrapper">
                                        Валюта
                                        <i ng-if="positions.positionCnfg.OrderByInfo.target == 'currency'"
                                           class="zmdi zmdi-caret-down"
                                           ng-class="{'zmdi-caret-down' : positions.positionCnfg.OrderByInfo.course == 'desc',
                                                      'zmdi-caret-up' : positions.positionCnfg.OrderByInfo.course == 'asc'}"></i>
                                    </span>
                                </div>
                            </th>
                            <th>
                                <div class="th">
                                    Опции
                                </div>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr data-ng-repeat="position in positions.list.Result">
                            <td>{{position.id}}</td>
                            <td class="left-align text-link"><a href="#/positions/{{position.id}}">{{position.title}}</a>
                            </td>
                            <td>{{position.category.name}}</td>
                            <td>{{position.materialPlace.name}}</td>
                            <td>{{position.materialConditions}}</td>
                            <td>{{position.materialTerms}}</td>
                            <td>{{position.currency.name}}</td>
                            <td>
                                <div class="btn-group" uib-dropdown is-open="status.isopen1">
                                    <button ui-wave type="button"
                                            class="btn btn-primary dropdown-toggle"
                                            uib-dropdown-toggle> Опции <span
                                        class="caret"></span></button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#/positions/edit/{{position.id}}">Редактировать</a></li>
                                        <li class="divider"></li>
                                        <li><span ng-click="positions.showConfirm($event, position.id, position.title)">Удалить</span></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr ng-if="positions.preloader">
                            <td colspan="8">
                                <div class="constell-loader cl-block"></div>
                            </td>
                        </tr>
                        <tr ng-if="positions.list.Result.length == 0">
                            <td colspan="8">
                                Позиции не найдены
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <footer class="table-footer">
                    <div class="row">
                        <div class="col-md-6 page-num-info">
                            <span>
                                Всего элементов: {{positions.positionCnfg.totalCount}}
                            </span>
                        </div>
                        <div class="col-md-6 text-right pagination-container">
                            <uib-pagination class="pagination-sm"
                                            ng-model="positions.positionCnfg.Page"
                                            total-items="positions.positionCnfg.totalCount"
                                            max-size="4"
                                            ng-change="positions.getPositions()"
                                            items-per-page="positions.positionCnfg.PerPage"
                                            rotate="false"
                                            previous-text="Назад" next-text="Далее"
                                            boundary-links="false"></uib-pagination>
                        </div>
                    </div>
                </footer>
            </section>
        </div>
    </div>

</div>
