<!--Users page-->
<div class="page page-table">

    <div class="row ui-section">
        <div class="col-lg-12 clearfix">
            <h2 class="section-header">
                {{position.info.title}}
                <a href="#/positions/edit/{{position.info.id}}" class="btn btn-primary">Редактировать</a>
                <a ui-sref="positions" class="btn btn-primary">К списку позиций</a>
            </h2>
        </div>
        <div class="col-md-12">
            <section class="panel panel-default table-dynamic">

                <div class="constell-block-title mt-mini">
                    Общая информация

                    <div ng-if="position.positionInfoLoader" class="constell-loader cl-right"></div>
                </div>

                <div class="tender-best-offers-wrapper clearfix">

                    <!--Main inforamtion-->
                    <div class="col-md-12 constell-panel-info">
                        <div class="panel panel-default panel-labeled constell-panel-list">
                            <div class="panel-body">
                                <span class="panel-label">Информация</span>
                                <ul class="list-group no-margin">
                                    <li class="list-group-item">{{position.info.title}}</li>
                                    <li class="list-group-item"><b>ID: </b> {{position.info.id}}</li>
                                    <li class="list-group-item"><b>Категория: </b>{{position.info.category.name}}</li>
                                    <li class="list-group-item">
                                        <b>Единица измерения: </b> {{position.info.unit.name}}
                                    </li>
                                    <li class="list-group-item">
                                        <b>Валюта: </b> {{position.info.currency.name}}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="constell-graph-area">
                    <div class="constell-block-title mt-mini">
                        Все предложения
                        <div ng-if="position.preloader" class="constell-loader cl-right"></div>
                    </div>

                    <div data-echarts data-options="position.combo.options" style="height: 360px;"></div>
                </div>

                <div class="table-filters">
                    <div class="row">
                        <div class="col-sm-4 col-xs-6">
                            <div class="row">
                                <label for="" class="col-sm-12">Поиск</label>
                            </div>
                            <form ng-submit="position.search()" class="search-form">
                                <input type="text"
                                       placeholder="Найти..."
                                       class="form-control"
                                       data-ng-model="position.positionCnfg.Search"
                                       ng-change="position.searchWasChanged()"
                                       ng-blur="position.search()">
                                <div ng-click="position.clearSearch()" class="clear-search"><i
                                    class="zmdi zmdi-close"></i></div>
                            </form>
                        </div>
                        <!--Tender date-->
                        <div class="form-group clearfix">
                            <div class="col-md-4 col-sm-12">
                                <div class="row">
                                    <label for="" class="col-sm-12">Дата начала</label>
                                </div>
                                <div class="input-group ui-datepicker">
                                    <input type="text"
                                           class="form-control"
                                           uib-datepicker-popup="{{format}}"
                                           ng-model="position.positionCnfg.startTime"
                                           is-open="position.status.startDate"
                                           min-date="minDate"
                                           max-date="maxDate"
                                           datepicker-options="dateOptions"
                                           date-disabled="disabled(date, mode)"
                                           ng-change="position.getOffers()"
                                           close-text="Close"/>
                                    <span class="input-group-addon" ng-click="position.open('startDate')"><i class="fa fa-calendar"></i></span>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12">
                                <div class="row">
                                    <label for="" class="col-sm-12">Дата завершения</label>
                                </div>
                                <div class="input-group ui-datepicker">
                                    <input type="text"
                                           class="form-control"
                                           uib-datepicker-popup="{{format}}"
                                           ng-model="position.positionCnfg.endTime"
                                           is-open="position.status.endDate"
                                           min-date="minDate"
                                           max-date="maxDate"
                                           datepicker-options="dateOptions"
                                           date-disabled="disabled(date, mode)"
                                           ng-change="position.getOffers()"
                                           close-text="Close"/>
                                    <span class="input-group-addon" ng-click="position.open('endDate')"><i class="fa fa-calendar"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="table-wrapper">
                    <table class="table table-bordered table-responsive">
                        <thead>
                        <tr>
                            <th>
                                <div class="th" ng-click="position.orderList('id')">
                                    <span class="table-order-wrapper">
                                        ID
                                        <i ng-if="position.positionCnfg.OrderByInfo.target == 'id'"
                                           class="zmdi zmdi-caret-down"
                                           ng-class="{'zmdi-caret-down' : position.positionCnfg.OrderByInfo.course == 'desc',
                                                      'zmdi-caret-up' : position.positionCnfg.OrderByInfo.course == 'asc'}"></i>
                                    </span>
                                </div>
                            </th>
                            <th>
                                <div class="th" ng-click="position.orderList('userName')">
                                    <span class="table-order-wrapper">
                                        Контактное лицо
                                        <i ng-if="position.positionCnfg.OrderByInfo.target == 'userName'"
                                           class="zmdi zmdi-caret-down"
                                           ng-class="{'zmdi-caret-down' : position.positionCnfg.OrderByInfo.course == 'desc',
                                                      'zmdi-caret-up' : position.positionCnfg.OrderByInfo.course == 'asc'}"></i>
                                    </span>
                                </div>
                            </th>
                            <th>
                                <div class="th" ng-click="position.orderList('tenderName')">
                                    <span class="table-order-wrapper">
                                        Тендер
                                        <i ng-if="position.positionCnfg.OrderByInfo.target == 'tenderName'"
                                           class="zmdi zmdi-caret-down"
                                           ng-class="{'zmdi-caret-down' : position.positionCnfg.OrderByInfo.course == 'desc',
                                                      'zmdi-caret-up' : position.positionCnfg.OrderByInfo.course == 'asc'}"></i>
                                    </span>
                                </div>
                            </th>
                            <th>
                                <div class="th" ng-click="position.orderList('price')">
                                    <span class="table-order-wrapper">
                                        Цена (руб)
                                        <i ng-if="position.positionCnfg.OrderByInfo.target == 'price'"
                                           class="zmdi zmdi-caret-down"
                                           ng-class="{'zmdi-caret-down' : position.positionCnfg.OrderByInfo.course == 'desc',
                                                      'zmdi-caret-up' : position.positionCnfg.OrderByInfo.course == 'asc'}"></i>
                                    </span>
                                </div>
                            </th>
                            <th>
                                <div class="th" ng-click="position.orderList('dateStr')">
                                    <span class="table-order-wrapper">
                                        Дата
                                        <i ng-if="position.positionCnfg.OrderByInfo.target == 'dateStr'"
                                           class="zmdi zmdi-caret-down"
                                           ng-class="{'zmdi-caret-down' : position.positionCnfg.OrderByInfo.course == 'desc',
                                                      'zmdi-caret-up' : position.positionCnfg.OrderByInfo.course == 'asc'}"></i>
                                    </span>
                                </div>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="offer in position.offers.Result">
                                <td>{{offer.userId}}</td>
                                <td>{{offer.userName}}</td>
                                <td>{{offer.tenderName}}</td>
                                <td>{{offer.price}}</td>
                                <td>{{offer.dateStr}}</td>
                            </tr>
                            <tr ng-if="position.preloader">
                                <td colspan="5">
                                    <div class="constell-loader cl-block"></div>
                                </td>
                            </tr>
                            <tr ng-if="position.offers.Result.length == 0">
                                <td colspan="5">
                                    Предложения отсутствуют
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <footer class="table-footer">
                    <div class="row">
                        <div class="col-md-6 page-num-info">
                        </div>
                        <div class="col-md-6 text-right pagination-container">
                            <uib-pagination class="pagination-sm"
                                            ng-model="position.positionCnfg.Page"
                                            total-items="position.positionCnfg.totalCount"
                                            max-size="4"
                                            ng-change="position.getOffers()"
                                            items-per-page="position.positionCnfg.PerPage"
                                            rotate="false"
                                            previous-text="Назад" next-text="Далее"
                                            boundary-links="false"></uib-pagination>
                        </div>
                    </div>
                </footer>
            </section>
        </div>
    </div>

</div>
