// Constell styles

.main-logo-link {
    width: 100%;
    height: 100%;
    line-height: normal;
    display: flex;
    align-items: center;

    img {
        display: block;
        margin: 0 auto;
        width: 140px;
        max-width: 90%;
    }
}

.constell-block-title {
    position: relative;
    padding: 15px;
    background-color: $bgTitle;
    color: #428bca;
    text-transform: uppercase;
    font-weight: 700;
    margin: 25px 8px;
    overflow: hidden;
    box-shadow: $boxShadow;
}

.constell-block-title.mt-mini {
    margin-top: 15px;
}

.subheader-block {
    .constell-loader {
        right: 30px;
        top: 19px;
        bottom: 19px;
    }
}

.constell-panel-list .panel-label {
    bottom: auto !important;
    top: 5px !important;
    color: $brand-primary !important;
}

.table-wrapper {
    overflow-x: auto;
    margin: 0 8px;

    &.table-main-p {
        margin: 0 15px;
    }

    // Table styles
    .table > thead > tr > th {
        padding: 0;
    }
    .table-striped > tbody > tr:nth-of-type(odd) {
        //background-color: rgba(66, 139, 202, 0.1);
        background-color: rgba(193, 193, 193, 0.1);
    }
    .table tbody tr td {
        text-align: center;
        vertical-align: middle;
        position: relative;
    }
    .table tbody tr td.left-align {
        text-align: left !important;
    }
    .table tbody tr td.text-link {
        padding: 0;

        a {
            display: block;
            padding: 15px;
            text-decoration: none !important;
        }
    }
    .table > thead > tr > th {
        text-align: center;
        vertical-align: middle;
        border-bottom-width: 1px;
    }
    .table > thead > tr {
        background-color: #428BCA;
        color: #fff;
    }
    .table thead th > .th {
        padding: 15px !important;
    }
    .table md-checkbox {
        margin-bottom: 0;
        margin-right: -10px;

        &.md-checked .md-icon {
            background-color: $brand-primary !important;
        }
    }
    .table md-checkbox.md-default-theme[disabled].md-checked .md-icon,
    md-checkbox[disabled].md-checked .md-icon {
        background-color: rgba(0, 188, 212, 0.87);
    }

    .disabled-th {
        background-color: $bgTitle;
        color: $brand-primary;
    }

    .md-select[disabled] .md-select-value {
        color: #000 !important;
    }

}

.table-inner-input {
    position: relative;

    input {
        padding-right: 45px;
    }
    .constell-unit {
        position: absolute;
        right: 15px;
        top: 0;
        bottom: 0;
        line-height: 38px;
    }
}

.constell-table-icon {
    font-size: 22px;
}

.c-regular-style {
    color: $brand-primary;
}

.constell-table-filters {

    .filter-result-info {
        float: right;
        padding: 0 15px;
    }

    .btn-filter-action {
        float: right;
    }

}

// Select button
.select-btn {
    margin: 0;
    height: 38px;
    color: #fff !important;
    line-height: 38px;
    float: right;
    background-color: $brand-primary;
    padding: 0 15px;
    border-radius: 2px;

    .md-select-value{
        color: #fff !important;
        border: none !important;
        margin-top: -2px;
        padding: 0;
        height: 100%;
    }

    &:hover {
        background-color: #3071a9;
    }
}
