// Constell form styles
.add-tender-step .constell-block-title,
.tender-edit .constell-block-title,
.position-add .constell-block-title,
.position-edit .constell-block-title {
    margin-right: 0;
    margin-left: 0;
}

.constell-form-wrapper {

    md-select {
        margin: 0 15px;
        border: 1px solid $input-border;
        height: 38px;
        border-radius: 2px;

        &:focus {
            border: 1px solid $brand-primary;
        }

        .md-select-value {
            border: none !important;
            padding: 2px 12px !important;
            margin-top: -3px;
            background: none !important;
        }
    }
    md-select[disabled] .md-select-value {
        color: #3D4051;
    }

    .form-group + .form-group {
        margin-top: 30px;
    }

    md-list {
        padding: 0;
        //box-shadow: $boxShadow;
        border: 1px solid #CBD5DD;
    }
    .md-list-container {
        max-height: 450px !important;
        overflow: auto;
    }
    .md-subheader .md-subheader-inner {
        @extend .constell-block-title;
        margin: 0;
        margin-bottom: 10px;

        .controlls-btns {
            padding-left: 0;
            text-transform: none;
        }
    }

    .steps-nav {
        margin-top: 30px;
        float: right;
    }
}

// Form error message
.form-error-message {
    background-color: $brand-danger;
    padding: 8px 12px;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    white-space: nowrap;
    font-size: 14px;
    line-height: 1.42857;
    border-radius: 2px;
    color: #fff;
}
.req-star {
    color: $brand-danger;
    &:after {
        content: '*'
    }
}
