// Constell generals
.constell-block {
    margin-bottom: $mb;

    &:last-child {
        margin-bottom: 0;
    }
}

// Constell panel info
.constell-panel-info {
    padding-left: 8px;
    padding-right: 8px;
}

// Constell wizard form
.constell-wizard-form .steps-controlls button {
    display: block;
    width: 100%;
}

// Error window
.error-message-window {
    width: 300px;
    position: absolute;
    right: 0;
    top: 100px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
}
