// Constell generals
.constell-block {
    margin-bottom: $mb;

    &:last-child {
        margin-bottom: 0;
    }
}

// Constell wizard form
.constell-wizard-form .steps-controlls button {
    display: block;
    width: 100%;
}
